body,
#titlebar::before {
  background-image: url(https://image.sneezry.cn/xmftpb5leb1l.jpg)!important;
  background-color: #ffffff!important;
}

/* #online {
  background: linear-gradient(#45464b, #393a3e);
}

#online:hover {
  background: linear-gradient(#38383a, #282829);
}
 */
