body,
#titlebar::before {
  background-image: url(https://image.sneezry.cn/y77ufokkgswv.jpg)!important;
  background-color: #38553e!important;
}

body {
  background-position-y: -60px!important;
}

#titlebar::before {
  background-position-y: -50px!important;
}

#online {
  background: linear-gradient(#1c4725, #0a3012)!important;
}

#online:hover {
  background: linear-gradient(#265630, #0e3a17)!important;
}

#logo {
  left: auto!important;
  right: 30px!important;
}
