body,
#titlebar::before {
  background-image: url(https://image.sneezry.cn/o6rcg0hqjzbp.jpg)!important;
  background-color: #000003!important;
}

body {
  background-position: center -10px;
}

#titlebar::before {
  background-position: center 0;
}

#online {
  background: url(https://image.sneezry.cn/k8tlgdx5m4bz.jpg) top;
}
#online:hover {
  background: url(https://image.sneezry.cn/k8tlgdx5m4bz.jpg) bottom;
}
